@using FBA.Extension
@model FBA.Models.ActionModels.ReactionModel
@{
    ViewBag.Title = "Reactions";
}

<div id="reaction">
    <div class="form-title">Reactions</div>
    @using (Html.BeginForm("Reactions", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="container">
            <div class="form-group">
                @Html.LabelFor(x => x.Token, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Token, new { @class = "form-control", type = "password", placeholder = "Enter your token", required = "true", maxlength = "150" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Target, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.Target, new SelectList(Targets.TargetList, "value", "text"), "Select target", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" hidden id="target-url">
                @Html.LabelFor(x => x.Url, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Url, new { @class = "form-control", placeholder = "Enter url", required = "true", maxlength = "150" })
                </div>
            </div>
            <div class="form-group" style="padding-top: 14px;">
                @Html.LabelFor(x => x.ReactionType, new { @class = "control-label col-sm-2", style = "" })
                <div style="" class="col-sm-8">
                    @Html.HiddenFor(x=>x.ReactionType)
                    <div id="fb-actions">
                        <span href="javascript:void(0)" id="reaction-current" style="">
                            <ul class="reaction-group">
                                <li class="reaction fb-like" data-title="Like"></li>
                                <li class="reaction fb-love" data-title="Love"></li>
                                <li class="reaction fb-haha" data-title="Haha"></li>
                                <li class="reaction fb-wow" data-title="wow"></li>
                                <li class="reaction fb-sad" data-title="Sad"></li>
                                <li class="reaction fb-angry" data-title="Angry"></li>
                            </ul>
                        </span>
                    </div>


                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-3"><label></label></div>
                <button type="submit" class="btn btn-danger col-sm-8">Start</button>
            </div>

        </div>
    }

</div>
