@using FBA.Extension
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div id="notifications">
    @Html.Partial("_Notifications")
</div>
    <div  class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="logo" class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Session[Common.UserSession] != null)
            {
                var rs = @Session[Common.UserSession].ToString();
                var idx = rs.IndexOf("_", StringComparison.Ordinal) + 1;
                rs = rs.Substring(idx, rs.Length-idx).ToUpper();
                <div id="top-right-menu" class="navbar-collapse navbar-right collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(rs, "Index", "Home", new { area = "" }, null)
                            <ul class="sub-top-menu">
                                <li>@Html.ActionLink("Change password", "ChangePassword", "Login")</li>
                                <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                            </ul>
                        </li>
                        @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="main-content">
        <div id="background" class="background">
            <canvas id="background-canvas"></canvas>
        </div>
        <div class="container body-content">

            @RenderBody()

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
